@{
    ViewBag.Title = "Home Page";
}
<br />
<br />

<div class="jumbotron">
    <h2>Hospital Information Management System</h2>

    <p>
        <a href="/Physician/PersonalInformation">Physician Directory</a><br>
        <a href="#">Appointment Request Calendar</a><br>
        <a href="#">Accounting and Billing</a><br>
        <a href="#">Pharmacy Inventory</a><br>
        <a href="#">In-patient Activity Monitoring</a><br>
        <a href="#">Room / Equipment Reservation</a><br>
        <a href="#">User Account Administration</a><br>
        <a href="#">Patient Medical Records History</a><br>
    </p>  

   
</div>

